
*{
    font-family: 'Roboto', sans-serif;
}

section{
    background-color: whitesmoke;
    height: 800px;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid lightslategray;
}

form {
    height: 100%;
}

label, input, textarea {
    display: block;
}

#message {
    resize: none;
}

.container {
    margin: 16px 0;
}